/build
/dist
/.coverage
/include/PROJECT/version.h
/include/PROJECT/config.h
/setup.py
/CMakeSettings.json
/CMakeUserPresets.json
/src/pyPROJECT/*.so
/conan/PROJECT.profile
/tests/output/*
/tests/logs/*
/conan/*

__pycache__
*.pyc
